/BLINK/project/stm32f10x_stdperiph_template/HEX
/BLINK/project/stm32f10x_stdperiph_template/MDK-ARM/STM32100B-EVAL
/BLINK/project/stm32f10x_stdperiph_template/MDK-ARM/STM32100E-EVAL
/BLINK/project/stm32f10x_stdperiph_template/MDK-ARM/STM3210B-EVAL
/BLINK/project/stm32f10x_stdperiph_template/MDK-ARM/STM3210C-EVAL
/BLINK/project/stm32f10x_stdperiph_template/MDK-ARM/STM3210E-EVAL
/BLINK/project/stm32f10x_stdperiph_template/MDK-ARM/STM3210E-EVAL_XL
